<h1>ユーザー一覧</h1>

<% @users.each do |user| %>
  <div class="user_info">
    <h2><%= link_to user.name, user_path(user) %></h2>
    <p>profile: <%= user.profile %></p>
    <p>avatar: <%= user.avatar %></p>
    <p>vote: </p>
    <p>contribution: <%= user.contribution_point %></p>
  </div>
<% end %>
