<h1>ユーザー一覧</h1>

<% @users.each do |user| %>
  <div class="user_info">
    <h2><%= user.name %></h2>
    <p>profile: <%= user.profile %></p>
    <p>avatar: <%= user.avatar %></p>
    <p>vote: </p>
  </div>
<% end %>