<h1>ランキング</h1>

<% @questions.each_with_index do |question, i| %>
  <div>
    <p>順位：<%= i + 1 %>位</p>
    <p>お気に入り数：<%= question.favorites_count %></p>
    <%= link_to question_path(question) do %>
      <p><%= question.title %></p>
    <% end %>

    <hr>
  </div>
<% end %>
