<div class="row">
  <div class="col-md-8 col-md-offset-1 col-sm-10 col-sm-offset-1">
    <%= simple_form_for([question,answer]) do |f| %>
      <%= f.hidden_field :question_id %>
      <h3>
        <%= f.input :content, as: :pagedown, input_html: { preview: true, rows: 10 },label: "回答を入力" %>
      </h3>
      <div>
        <%= f.submit '回答する' %>
      </div>
    <% end %>
  </div>
</div>
