<% answers.each do |answer| %>
  <% unless answer.id.nil? %>

    <%= render partial: "votes/vote_answer", locals: {answer: answer} %>

    <div>
      <%= markdown(answer.content).html_safe %>
    </div>
    <p>回答者：<%= answer.user.name %></p>
    <hr>
  <% end %>
<% end %>
