// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bootstrap-tagsinput{
  width: 100%;
}

.answers-existence{
  color: #45a163;
  border: 1px solid;
}
