// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//プロフィール画像用スタイル
.img-profile-wrap-default-original{
  display:inline-block;
  max-width:164px;
  max-height:164px;
  overflow: hidden;
  vertical-align: top;
}
.img-profile-wrap-small-original{
  display:inline-block;
  max-width:48px;
  max-height:48px;
  overflow: hidden;
  vertical-align: top;
}

//ユーザー一覧用リストスタイル
.userlist-style-original{
  display: -webkit-flex;
  display:flex;
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap;
}

.user-style-child-original{
  padding:15px;
  @media (max-width: 767px){
    width:100%;
  }
}

//ユーザー一覧用リスト リンクスタイル
.userlink-style-original{
  padding: 15px;
  display: table;
  width: 100%;
  border-radius:4px;
  border:1px solid #eeeeee;
  transition-property:background-color;
  transition-duration:0.5s;
  transition-timing-function:ease;
  &:hover{
    background-color:#eeeeee;
  }
  .lead{
    margin-bottom: 0;//bootstrap上書き
    & + p{
      margin-top: 12px;
    }
    @media (max-width: 767px){
      font-size:20px;
    }
  }
  .col-left-original{
    display:table-cell;
    width:54px;
    vertical-align:middle;
  }
  .col-right-original{
    display:table-cell;
    vertical-align:middle;
  }
}