<p>こんにちは、<%= @email %>さん</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>あなたの登録メールアドレスが「<%= @resource.unconfirmed_email %>」に変更されましたのでお知らせいたします。 </p>
<% else %>
  <p>あなたの登録メールアドレスが変更されましたのでお知らせいたします。</p>
<% end %>
