<p>こんにちは、<%= @resource.email %>さん</p>

<p>パスワードリセットメールが送信されました。</p>

<p><%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのメールに覚えがない場合はこのメールを無視してください。</p>
<p>あなたのパスワードは変更されません。</p>
