<% if form_error.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% form_error.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>